<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Title</title>
</head>

<script type="text/javascript"
        src="http://code.jquery.com/jquery-2.1.4.min.js">
</script>

<script>
        $(document).ready(function() {
            var formObj = $("#itemMania");


            $("#btnModify").on("click", function() {
                formObj.attr("action", "postItemModify");
                formObj.attr("method", "post");
                formObj.submit();
            });

            $("#btnList").on("click", function() {
                self.location = "itemlist";
            });
        });
</script>

<body>
<h2>Modify</h2>
<form id="itemMania" action="itemMania/success.html"
      th:action="@{modify}" th:object="${board}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" name="id"
                       th:field="*{id}"/></td>
            <td><font color="red">
                <!-- 앞서 얻은 fields에 title에 에러가 있다면 -->
                <span th:if="${#fields.hasErrors('id')}"
                      th:errors="*{id}">
                        id Error Message
                    </span>
            </font></td>
        </tr>
        <tr>
            <td>pw</td>
            <td><input type="text" name="pw"
                       th:field="*{pw}"/></td>
            <td><font color="red">
                    <span th:if="${#fields.hasErrors('pw')}"
                          th:errors="*{pw}">
                        pw Error Message
                    </span>
            </font></td>
        </tr>
        <tr>
            <td>nickname</td>
            <td><input type="text" name="nickname"
                       th:field="*{nickname}"/></td>
            <td><font color="red">
                    <span th:if="${#fields.hasErrors('nickname')}"
                          th:errors="*{nickname}">
                        nickname Error Message
                    </span>
            </font></td>
        </tr>
        <tr>
            <td>item</td>
            <td><input type="text" name="item"
                       th:field="*{item}"/></td>
            <td><font color="red">
                    <span th:if="${#fields.hasErrors('item')}"
                          th:errors="*{item}">
                        item Error Message
                    </span>
            </font></td>
        </tr>
        <tr>
            <td>price</td>
            <td><input type="text" name="price"
                       th:field="*{price}"/></td>
            <td><font color="red">
                    <span th:if="${#fields.hasErrors('price')}"
                          th:errors="*{price}">
                        price Error Message
                    </span>
            </font></td>
        </tr>
    </table>
</form>

<div>
    <button type="submit" id="btnModify">Modify</button>
    <button type="submit" id="btnList">List</button>
</div>

</body>
</html>